# To install the packages listed in a requirements.txt file, navigate to the project directory in your terminal or command prompt and run:
# Code: pip install -r requirements.txt

# Specify exact versions. This ensures reproducibility.
# numpy==1.26.1
# pandas==2.1.3

# Specify minimum versions
# numpy>=1.26.1
# pandas>=2.1.3